.carousel-container {
  min-height: 400px;
}

.category-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
}

.gallery img {
  transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.05);
}

.gallery img {
  transition: transform 0.6s ease, opacity 0.6s ease;
}

.gallery img:hover {
  transform: scale(1.03);
}

nav a.active {
  color: #FF6347; /* Rojo anaranjado, puedes cambiar el color */
  /*font-weight: bold;*/
}

nav a.active:hover {
  color: #FF4500; /* Un color más intenso cuando pasa el ratón */
}